Valid emails are not accepted when adding users

Steps to reproduce:

1. add n/john tan s/m r/student p/98765432 e/john..d@example.com a/Johnstreet, block 123, #01-01
2. Notice that error message occurs
Bug inherited from AB3
![Screenshot 2024-11-15 at 4.16.19 PM.png](https://raw.githubusercontent.com/nus-cs2103-AY2425S1/pe/master/files/5e359d6c-91c0-41cc-ae61-1053b20e6386.png)






<hr>
<sub>[original: nus-cs2103-AY2425S1/pe-interim#3283] [original labels: severity.Medium type.FunctionalityBug]</sub>


<!--session: 1731656895459-e85732b1-85c7-4b07-bf23-257277660def--><!--Version: Desktop v3.5.4-->

# Team's Response
![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2425S1/pe-dev-response/main/files/7df37b33-3e17-42fe-aa8f-e57fd79042dd.png)

Referring to RFC 5322, section 3.4.1 “local-part”, it states that emails cannot be two dots to be consecutive. "dot-atom" implies that there can be only one dot at a time as a separator, and consecutive dots are not allowed.
![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2425S1/pe-dev-response/main/files/41f47cec-eeff-4538-a46f-121303356990.png)




## Duplicate status (if any):
--